@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory Management System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#">Inventory Management System</a>
            </div>
            <ul class="navbar-nav">
                <li><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                <li><a asp-controller="Products" asp-action="ProductsPage">Manage Products</a></li>
                <li><a asp-controller="Profile" asp-action="ProfilePage">Profile</a></li>

                <div>
                    <!-- User session check -->
                    @if (Context.Session.GetString("UserId") != null)
                    {
                        <li class="nav-item">
                            <span>Welcome, @Context.Session.GetString("UserFullName")</span>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Login" asp-action="Logout">Logout</a>
                        </li>
                    }
                </div>              
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer>
        <p>© 2024 Inventory Management System</p>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
