/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

header {
  background-color: #007bff;
  color: white;
  padding: 0.5em 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.navbar-brand a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 620px; /*change this based on the width that can fit all the four nav links*/
  flex-direction: row;
  justify-content: space-around;
  gap: 15px;
}

.navbar-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav a:hover {
  text-decoration: underline;
}

.navbar-nav div {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.container {
  padding: 1em; 
  min-height: 80vh; /* 80% of the viewport height, adjust as needed */
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em 0;
  margin-top: 1em;
}
